## importing all the necessary libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

## loading Book dataset

In [4]:
bk = pd.read_csv("E:\\ExcelR\\Assingment\\Assignment 10\\book.csv", engine = "python")
bk

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [5]:
bk.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

## determining length

In [7]:
len(bk["User.ID"].unique())

2182

In [8]:
len(bk["Book.Title"].unique())

9659

## constructing Pivot Table

In [12]:
user_bk = bk.pivot_table(index = ['User.ID'],
                                 columns = ['Book.Title'],
                                 values = ['Book.Rating']).reset_index(drop=True)

In [13]:
user_bk

                    Book.Rating                                             \
Book.Title  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
0                           NaN                                        NaN
1                           NaN                                        NaN
2                           NaN                                        NaN
3                           NaN                                        NaN
4                           NaN                                        NaN
...                         ...                                        ...
2177                        NaN                                        NaN
2178                        NaN                                        NaN
2179                        NaN                                        NaN
2180                        NaN                                        NaN
2181                        NaN                                        NaN

                                          \
Book.Title  Repairing PC Drives &amp '48
0                                NaN NaN
1                                NaN NaN
2                                NaN NaN
3                                NaN NaN
4                                NaN NaN
...                              ...  ..
2177                             NaN NaN
2178                             NaN NaN
2179                             NaN NaN
2180                             NaN NaN
2181                             NaN NaN

                                                                                  \
Book.Title 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
0                                                         NaN
1                                                         NaN
2                                                         NaN
3                                                         NaN
4                                                         NaN
...                                                       ...
2177                                                      NaN
2178                                                      NaN
2179                                                      NaN
2180                                                      NaN
2181                                                      NaN

                                                                         \
Book.Title ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
0                                                         NaN
1                                                         NaN
2                                                         NaN
3                                                         NaN
4                                                         NaN
...                                                       ...
2177                                                      NaN
2178                                                      NaN
2179                                                      NaN
2180                                                      NaN
2181                                                      NaN

                                                \
Book.Title 01-01-00: A Novel of the Millennium
0                                          NaN
1                                          NaN
2                                          NaN
3                                          NaN
4                                          NaN
...                                        ...
2177                                       NaN
2178                                       NaN
2179                                       NaN
2180                                       NaN
2181                                       NaN

                                                                         \
Book.Title 1,401 More Things That P*Ss Me Off 10 Commandments Of Dating
0                                         NaN                       NaN
1                                         NaN                       NaN
2                                         NaN                       NaN
3                                         NaN                       NaN
4                                         NaN                       NaN
...                                       ...                       ...
2177                                      NaN                       NaN
2178                                      NaN                       NaN
2179                                      NaN                       NaN
2180                                      NaN                       NaN
2181                                      NaN                       NaN

                                                   ...  \
Book.Title 100 Great Fantasy Short, Short Stories  ...
0                                             NaN  ...
1                                             NaN  ...
2                                             NaN  ...
3                                             NaN  ...
4                                             NaN  ...
...                                           ...  ...
2177                                          NaN  ...
2178                                          NaN  ...
2179                                          NaN  ...
2180                                          NaN  ...
2181                                          NaN  ...

                                                                        \
Book.Title Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
0                                                         NaN
1                                                         NaN
2                                                         NaN
3                                                         NaN
4                                                         NaN
...                                                       ...
2177                                                      NaN
2178                                                      NaN
2179                                                      NaN
2180                                                      NaN
2181                                                      NaN

                                                                       \
Book.Title \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
0                                                         NaN
1                                                         NaN
2                                                         NaN
3                                                         NaN
4                                                         NaN
...                                                       ...
2177                                                      NaN
2178                                                      NaN
2179                                                      NaN
2180                                                      NaN
2181                                                      NaN

                                                                                   \
Book.Title \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
0                                                         NaN
1                                                         NaN
2                                                         NaN
3                                                         NaN
4                                                         NaN
...                                                       ...
2177                                                      NaN
2178                                                      NaN
2179                                                      NaN
2180                                                      NaN
2181                                                      NaN

                                                              \
Book.Title \More More More,\ Said the Baby \O\ Is for Outlaw
0                                      NaN               NaN
1                                      NaN               NaN
2                                      NaN               NaN
3                                      NaN               NaN
4                                      NaN               NaN
...                                    ...               ...
2177                                   NaN               NaN
2178                                   NaN               NaN
2179                                   NaN               NaN
2180                                   NaN               NaN
2181                                   NaN               NaN

                                                                                    \
Book.Title \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
0                                                         NaN
1                                                         NaN
2                                                         NaN
3                                                         NaN
4                                                         NaN
...                                                       ...
2177                                                      NaN
2178                                                      NaN
2179                                                      NaN
2180                                                      NaN
2181                                                      NaN

                                                                           \
Book.Title \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
0                                             NaN                     NaN
1                                             NaN                     NaN
2                                             NaN                     NaN
3                                             NaN                     NaN
4                                             NaN                     NaN
...                                           ...                     ...
2177                                          NaN                     NaN
2178                                          NaN                     NaN
2179                                          NaN                     7.0
2180                                          NaN                     NaN
2181                                          NaN                     NaN


Book.Title stardust Ãƒ?Ã‚?bermorgen.
0               NaN            NaN
1               NaN            NaN
2               NaN            NaN
3               NaN            NaN
4               NaN            NaN
...             ...            ...
2177            NaN            NaN
2178            NaN            NaN
2179            NaN            NaN
2180            NaN            NaN
2181            NaN            NaN

[2182 rows x 9659 columns]

In [15]:
user_bk.index = bk["User.ID"].unique()
user_bk

                    Book.Rating                                             \
Book.Title  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
276726                      NaN                                        NaN
276729                      NaN                                        NaN
276736                      NaN                                        NaN
276737                      NaN                                        NaN
276744                      NaN                                        NaN
...                         ...                                        ...
162107                      NaN                                        NaN
162109                      NaN                                        NaN
162113                      NaN                                        NaN
162121                      NaN                                        NaN
162129                      NaN                                        NaN

                                          \
Book.Title  Repairing PC Drives &amp '48
276726                           NaN NaN
276729                           NaN NaN
276736                           NaN NaN
276737                           NaN NaN
276744                           NaN NaN
...                              ...  ..
162107                           NaN NaN
162109                           NaN NaN
162113                           NaN NaN
162121                           NaN NaN
162129                           NaN NaN

                                                                                  \
Book.Title 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
276726                                                    NaN
276729                                                    NaN
276736                                                    NaN
276737                                                    NaN
276744                                                    NaN
...                                                       ...
162107                                                    NaN
162109                                                    NaN
162113                                                    NaN
162121                                                    NaN
162129                                                    NaN

                                                                         \
Book.Title ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
276726                                                    NaN
276729                                                    NaN
276736                                                    NaN
276737                                                    NaN
276744                                                    NaN
...                                                       ...
162107                                                    NaN
162109                                                    NaN
162113                                                    NaN
162121                                                    NaN
162129                                                    NaN

                                                \
Book.Title 01-01-00: A Novel of the Millennium
276726                                     NaN
276729                                     NaN
276736                                     NaN
276737                                     NaN
276744                                     NaN
...                                        ...
162107                                     NaN
162109                                     NaN
162113                                     NaN
162121                                     NaN
162129                                     NaN

                                                                         \
Book.Title 1,401 More Things That P*Ss Me Off 10 Commandments Of Dating
276726                                    NaN                       NaN
276729                                    NaN                       NaN
276736                                    NaN                       NaN
276737                                    NaN                       NaN
276744                                    NaN                       NaN
...                                       ...                       ...
162107                                    NaN                       NaN
162109                                    NaN                       NaN
162113                                    NaN                       NaN
162121                                    NaN                       NaN
162129                                    NaN                       NaN

                                                   ...  \
Book.Title 100 Great Fantasy Short, Short Stories  ...
276726                                        NaN  ...
276729                                        NaN  ...
276736                                        NaN  ...
276737                                        NaN  ...
276744                                        NaN  ...
...                                           ...  ...
162107                                        NaN  ...
162109                                        NaN  ...
162113                                        NaN  ...
162121                                        NaN  ...
162129                                        NaN  ...

                                                                        \
Book.Title Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
276726                                                    NaN
276729                                                    NaN
276736                                                    NaN
276737                                                    NaN
276744                                                    NaN
...                                                       ...
162107                                                    NaN
162109                                                    NaN
162113                                                    NaN
162121                                                    NaN
162129                                                    NaN

                                                                       \
Book.Title \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
276726                                                    NaN
276729                                                    NaN
276736                                                    NaN
276737                                                    NaN
276744                                                    NaN
...                                                       ...
162107                                                    NaN
162109                                                    NaN
162113                                                    NaN
162121                                                    NaN
162129                                                    NaN

                                                                                   \
Book.Title \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
276726                                                    NaN
276729                                                    NaN
276736                                                    NaN
276737                                                    NaN
276744                                                    NaN
...                                                       ...
162107                                                    NaN
162109                                                    NaN
162113                                                    NaN
162121                                                    NaN
162129                                                    NaN

                                                              \
Book.Title \More More More,\ Said the Baby \O\ Is for Outlaw
276726                                 NaN               NaN
276729                                 NaN               NaN
276736                                 NaN               NaN
276737                                 NaN               NaN
276744                                 NaN               NaN
...                                    ...               ...
162107                                 NaN               NaN
162109                                 NaN               NaN
162113                                 NaN               NaN
162121                                 NaN               NaN
162129                                 NaN               NaN

                                                                                    \
Book.Title \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
276726                                                    NaN
276729                                                    NaN
276736                                                    NaN
276737                                                    NaN
276744                                                    NaN
...                                                       ...
162107                                                    NaN
162109                                                    NaN
162113                                                    NaN
162121                                                    NaN
162129                                                    NaN

                                                                           \
Book.Title \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
276726                                        NaN                     NaN
276729                                        NaN                     NaN
276736                                        NaN                     NaN
276737                                        NaN                     NaN
276744                                        NaN                     NaN
...                                           ...                     ...
162107                                        NaN                     NaN
162109                                        NaN                     NaN
162113                                        NaN                     7.0
162121                                        NaN                     NaN
162129                                        NaN                     NaN


Book.Title stardust Ãƒ?Ã‚?bermorgen.
276726          NaN            NaN
276729          NaN            NaN
276736          NaN            NaN
276737          NaN            NaN
276744          NaN            NaN
...             ...            ...
162107          NaN            NaN
162109          NaN            NaN
162113          NaN            NaN
162121          NaN            NaN
162129          NaN            NaN

[2182 rows x 9659 columns]

## Filling 0 in place of NaN

In [16]:
user_bk.fillna(0, inplace=True)

In [17]:
user_bk

                    Book.Rating                                             \
Book.Title  Jason, Madison &amp  Other Stories;Merril;1985;McClelland &amp
276726                      0.0                                        0.0
276729                      0.0                                        0.0
276736                      0.0                                        0.0
276737                      0.0                                        0.0
276744                      0.0                                        0.0
...                         ...                                        ...
162107                      0.0                                        0.0
162109                      0.0                                        0.0
162113                      0.0                                        0.0
162121                      0.0                                        0.0
162129                      0.0                                        0.0

                                           \
Book.Title  Repairing PC Drives &amp  '48
276726                           0.0  0.0
276729                           0.0  0.0
276736                           0.0  0.0
276737                           0.0  0.0
276744                           0.0  0.0
...                              ...  ...
162107                           0.0  0.0
162109                           0.0  0.0
162113                           0.0  0.0
162121                           0.0  0.0
162129                           0.0  0.0

                                                                                  \
Book.Title 'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities
276726                                                    0.0
276729                                                    0.0
276736                                                    0.0
276737                                                    0.0
276744                                                    0.0
...                                                       ...
162107                                                    0.0
162109                                                    0.0
162113                                                    0.0
162121                                                    0.0
162129                                                    0.0

                                                                         \
Book.Title ...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR
276726                                                    0.0
276729                                                    0.0
276736                                                    0.0
276737                                                    0.0
276744                                                    0.0
...                                                       ...
162107                                                    0.0
162109                                                    0.0
162113                                                    0.0
162121                                                    0.0
162129                                                    0.0

                                                \
Book.Title 01-01-00: A Novel of the Millennium
276726                                     0.0
276729                                     0.0
276736                                     0.0
276737                                     0.0
276744                                     0.0
...                                        ...
162107                                     0.0
162109                                     0.0
162113                                     0.0
162121                                     0.0
162129                                     0.0

                                                                         \
Book.Title 1,401 More Things That P*Ss Me Off 10 Commandments Of Dating
276726                                    0.0                       0.0
276729                                    0.0                       0.0
276736                                    0.0                       0.0
276737                                    0.0                       0.0
276744                                    0.0                       0.0
...                                       ...                       ...
162107                                    0.0                       0.0
162109                                    0.0                       0.0
162113                                    0.0                       0.0
162121                                    0.0                       0.0
162129                                    0.0                       0.0

                                                   ...  \
Book.Title 100 Great Fantasy Short, Short Stories  ...
276726                                        0.0  ...
276729                                        0.0  ...
276736                                        0.0  ...
276737                                        0.0  ...
276744                                        0.0  ...
...                                           ...  ...
162107                                        0.0  ...
162109                                        0.0  ...
162113                                        0.0  ...
162121                                        0.0  ...
162129                                        0.0  ...

                                                                        \
Book.Title Zora Hurston and the Chinaberry Tree (Reading Rainbow Book)
276726                                                    0.0
276729                                                    0.0
276736                                                    0.0
276737                                                    0.0
276744                                                    0.0
...                                                       ...
162107                                                    0.0
162109                                                    0.0
162113                                                    0.0
162121                                                    0.0
162129                                                    0.0

                                                                       \
Book.Title \Even Monkeys Fall from Trees\ and Other Japanese Proverbs
276726                                                    0.0
276729                                                    0.0
276736                                                    0.0
276737                                                    0.0
276744                                                    0.0
...                                                       ...
162107                                                    0.0
162109                                                    0.0
162113                                                    0.0
162121                                                    0.0
162129                                                    0.0

                                                                                   \
Book.Title \I Won't Learn from You\: And Other Thoughts on Creative Maladjustment
276726                                                    0.0
276729                                                    0.0
276736                                                    0.0
276737                                                    0.0
276744                                                    0.0
...                                                       ...
162107                                                    0.0
162109                                                    0.0
162113                                                    0.0
162121                                                    0.0
162129                                                    0.0

                                                              \
Book.Title \More More More,\ Said the Baby \O\ Is for Outlaw
276726                                 0.0               0.0
276729                                 0.0               0.0
276736                                 0.0               0.0
276737                                 0.0               0.0
276744                                 0.0               0.0
...                                    ...               ...
162107                                 0.0               0.0
162109                                 0.0               0.0
162113                                 0.0               0.0
162121                                 0.0               0.0
162129                                 0.0               0.0

                                                                                    \
Book.Title \Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character
276726                                                    0.0
276729                                                    0.0
276736                                                    0.0
276737                                                    0.0
276744                                                    0.0
...                                                       ...
162107                                                    0.0
162109                                                    0.0
162113                                                    0.0
162121                                                    0.0
162129                                                    0.0

                                                                           \
Book.Title \Well, there's your problem\: Cartoons iI Paradiso Degli Orchi
276726                                        0.0                     0.0
276729                                        0.0                     0.0
276736                                        0.0                     0.0
276737                                        0.0                     0.0
276744                                        0.0                     0.0
...                                           ...                     ...
162107                                        0.0                     0.0
162109                                        0.0                     0.0
162113                                        0.0                     7.0
162121                                        0.0                     0.0
162129                                        0.0                     0.0


Book.Title stardust Ãƒ?Ã‚?bermorgen.
276726          0.0            0.0
276729          0.0            0.0
276736          0.0            0.0
276737          0.0            0.0
276744          0.0            0.0
...             ...            ...
162107          0.0            0.0
162109          0.0            0.0
162113          0.0            0.0
162121          0.0            0.0
162129          0.0            0.0

[2182 rows x 9659 columns]

## Applying cousine function

In [18]:
user_sim = 1 - pairwise_distances( user_bk.values,metric='cosine')

In [19]:
user_sim

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

## Store the results in a dataframe

In [20]:
user_sim_df = pd.DataFrame(user_sim)

In [21]:
user_sim_df

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

## Set the index and column names to user ids

In [22]:
user_sim_df.index = bk["User.ID"].unique()
user_sim_df.columns = bk["User.ID"].unique()

In [23]:
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     1.0     0.0     0.0     0.0     0.0
276729     0.0     1.0     0.0     0.0     0.0
276736     0.0     0.0     1.0     0.0     0.0
276737     0.0     0.0     0.0     1.0     0.0
276744     0.0     0.0     0.0     0.0     1.0

In [24]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

        276726  276729  276736  276737  276744
276726     0.0     0.0     0.0     0.0     0.0
276729     0.0     0.0     0.0     0.0     0.0
276736     0.0     0.0     0.0     0.0     0.0
276737     0.0     0.0     0.0     0.0     0.0
276744     0.0     0.0     0.0     0.0     0.0

## Most Similar Users

In [25]:
user_sim_df.idxmax(axis=1)[0:5]

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
dtype: int64

In [27]:
bk[(bk['User.ID']==276726) | (bk['User.ID']==162107)]

      Unnamed: 0  User.ID               Book.Title  Book.Rating
0              1   276726      Classical Mythology            5
9987        9988   162107  What's Bred in the Bone            7

In [29]:
user_1=bk[bk['User.ID'] == 276729]

In [28]:
user_2=bk[bk['User.ID']==276737]

In [30]:
user_1["Book.Title"]

1            Clara Callan
2    Decision in Normandy
Name: Book.Title, dtype: object

In [31]:
user_2["Book.Title"]

4    The Mummies of Urumchi
Name: Book.Title, dtype: object

## Finally our Recommendation Table is ready

In [34]:
pd.merge(user_1,user_2,on = 'Book.Title',how = 'outer')

,Unnamed: 0_x,User.ID_x,Book.Title,Book.Rating_x,Unnamed: 0_y,User.ID_y,Book.Rating_y
0,2.0,276729.0,Clara Callan,3.0,NaN,NaN,NaN
1,3.0,276729.0,Decision in Normandy,6.0,NaN,NaN,NaN
2,NaN,NaN,The Mummies of Urumchi,NaN,5.0,276737.0,6.0